$transition: all 0.4s ease-in-out;
$font-body: 'Poppins',
sans-serif;
$font-titles: mick_casterregular;

$h1-font-size: 3.5rem;
$h2-font-size: 3.5rem;
$h3-font-size: 2rem;
$h4-font-size: 2rem;
$box-border-radius: 8px;

$button-font-size: 2rem;

$input-font-size: 2rem;
